argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
certifi==2025.4.26
cffi
charset-normalizer==3.4.2
dotenv
greenlet
idna
minio==7.2.15
numpy
pandas
psycopg2-binary
pycparser
pycryptodome
python-dateutil
python-dotenv
pytz
requests==2.32.4
six
SQLAlchemy
typing_extensions
tzdata
urllib3
streamlit
plotly